* {
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    margin: 3rem 2rem;
    background-color: #faf7eb;
    height: auto;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40rem;
    background-color: #214262;
}

.nav_logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav_logo h2{
    font: 26px;
    font-weight: 600;
    font-family: ivypresto headline, serif;
    color: #DBBD7F;
}
.nav_logo a {
    font: 400 16px;
    font-family: grad, serif;
    letter-spacing: 0.075em;
    line-height: 1.5em;
    color: white;
}
.nav p {
    display: flex;
    justify-content: center;
}

.nav_p p {
    text-align: center;
    color: #DBBD7F;
    font-family: ivypresto headline, serif;
    font-size: large;
    font-weight: bolder;
    padding-top: 1rem;
}

.nav_p h1{
    font-size: 3rem;
    text-align: center;
    font-family: ivypresto headline, serif;
    color: white;
}
.nav_button {
    display: flex;
    justify-content: center;
    width: 100%;    
}
.nav_button button{
    font-family: ivypresto headline, serif;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-size: 1.4rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.main_top_left{
    width: 45%;
    min-width: 33.1rem;
    margin: 2rem 2rem 2rem 0;       
    background-color: #dbbd7f;
    font-family:  ivypresto headline, serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.main_top_textbox{
    margin: 2.5rem;
}
.main_top_left h1{
    color: #214262;
    font-size: 4rem;
}
.main_top_left p {
    color: #214262;
    line-height: 1.8rem;
    padding-top: 1rem;
    font-size: 1.7rem;
}
.main_top_right{
    width: 45%;
    margin: 2rem 1rem 2rem 0;
    padding: 2rem; 
    background-color: #5d7792;
}

.main_mid{
    width: 100%;
    padding: 20rem;
    background-color: #214262;
}

.main_row{
    background-color: #dbbd7f;
    margin-top: auto;
    width: 100%;
}

.links_left{
    background-color: #214262;

}
.links_right{
    background-color: #dbbd7f;
   
}

.footer{
    
    background-color: #214262;
}

@media screen and (max-width:1219px) {
   
}